/* select2 */
.select2-container{
  display: block;
  .selection{
    .select2-selection{
      ul{
        padding: 0 1.375rem .375rem .375rem;

        span.select2-selection__clear{
          position: absolute;
          right: 0;

        }
      }
    }
  }
}

.form-group {
  label.required{
    &:after{
      content: ' *';
      color: red;
    }
  }
}

/* summernote */
.note-editor{
  &.fullscreen{
    background-color: #fff;
    .panel-heading{
      background-color: #eee;
    }
  }
}

/* custom input title button */
.custom-file{
  .custom-file-label{

    &:after{
      content: 'Выбрать';
    }
  }
}
